body {
  margin:0;
}

h1{
  font-family: 'Roboto', sans-serif;
  color: #f5924b;
}
p {
  font-family: 'Roboto', sans-serif;
  color: #dcdbe3;
  font-size: 15px;
  font-weight: 150;
  line-height: 18px;
  padding: 10px 50px 50px 50px;
}

a {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
}

.logo {
    display: block;
    margin: 0 auto;
    padding: 10px;
}
.content {
  width: auto;
  background-color: rgba(26, 39, 51, 0.9);
}
.navbar-start {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-around;
  padding: 20px 0 20px 0;
  background-color: black;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1
}

/* .row {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 100px 50px 100px;
}

/* .col {
  flex: 2;
}

img {
  padding: 30px 10px 100px 50px;
} */

.img {
  float: left;
}
.text {
    overflow: auto;
}
.text {
  padding: 50px 50px 50px 50px;
}
