body {
  margin:0;
  background-color: black;
}

h1{
  font-family: 'Fredericka the Great', cursive;
  color: white;
  font-weight: 400;
  font-size: 40px;
  line-height: 20px;
  text-align: center;
}

p {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: white;
  text-align: center;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
}

a {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
}

.logo {
    display: block;
    margin: 0 auto;
    padding: 10px;
    z-index: 2;
    position: relative;
}

.navbar-start {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 20px 0 20px 0;
  background-color: black;
  z-index: 2;
  position: relative;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

video {
  /* position: relative; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  opacity: 0.5;
  /* z-index: 0; */
}
.content {
  position: relative;
  width: auto;
  height: 950px;
  /* background-color: rgba(26, 39, 51, 0.9); */
}
.content video {
  position: relative;
  z-index: 0;
}

.overlay {
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  margin: auto;
  width: 100%;
  padding: 100px 0 50px 0;
}
/* .row {
  display: block;
  margin: auto;
  width: 100%;
  padding: 10px 0 50px 0;

} */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 40%; */
  padding: 10px 0 10px 0;
}

.buttons {
  display: block;
  margin: auto;
  width: 38%;
}

.button {
    background: none;
    border: 2px solid white;
    color: white;
    padding: 12px 17px;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    margin: 10px 10px 10px 10px;
    cursor: pointer;
  }
