body {
  margin:0;
}

h1{
  font-family: 'Nunito', sans-serif;
  color: #dcdbe3;
  font-weight: 400;
  font-size: 30px;
  line-height: 15px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 15px;
  color: #dcdbe3;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
}

a {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
  display: block;
}

.logo {
    display: block;
    height: 150px;
    margin: 0 auto;
    padding: 0px;
    z-index: 2;
    position: relative;
}

.navbar-start {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 20px 0 20px 0;
  background-color: black;
  z-index: 2;
  position: relative;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

video {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
display: block;
z-index: 1;
}
.content {
  width: auto;
  /* height: 100%; */
  background-color: rgba(26, 39, 51, 0.9);
}
