
body {
  margin:0;
}

h1{
  font-family: 'Nunito', sans-serif;
  color: #dcdbe3;
  font-weight: 400;
  /* font-style: italic; */
  font-size: 21px;
  line-height: 6px;
}

a {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  /* font-weight: 200; */
  /* letter-spacing: 2px; */
  color: white;
  text-decoration: none;
}

.logo {
    display: block;
    margin: 0 auto;
    padding: 10px;
}

.navbar-start {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-around;
  padding: 20px 0 20px 0;
  background-color: black;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.content {
  width: auto;
  background-color: rgba(26, 39, 51, 0.9);
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #dcdbe3;
}

table {
  padding: 0px 130px 0px 90px;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  font-size: 17px;
}

th {
    height: 50px;
    letter-spacing: 2px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
}

td {
    height: 30px;
    vertical-align: middle;
    padding: 10px 20px 10px 20px;
}
